# Đồ án cuối kỳ

Họ tên: Võ Nhật Thịnh

MSSV: 1712796

# 1. nguồn dữ liệu

>Khái quát về dữ liệu:

Bộ dữ liệu cung cấp thông tin tình hình dịch COVID-19 đang diễn ra trên thế giới, mức độ lây lan của chúng, tổng số ca mắc, ca qua khỏi và ca tử vong theo thời gian thực, tức bộ dữ liệu luôn được cập nhật từng ngày từng giờ giúp ta có 1 cái nhìn trực quan nhất về dịch

Nguồn dữ liệu: https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset

>license của chủ đề:

Bộ dữ liệu có bản quyền thuộc về Creative Commons Attribution 4.0 International (CC BY 4.0) của trường Johns Hopkins University
để sử dụng bộ dữ liệu cho mục đích nghiên cứu, ta trích dẫn nguồn dữ liệu:

"Dong E, Du H, Gardner L. An interactive web-based dashboard to track COVID-19 in real time. Lancet Inf Dis. 20(5):533-534. doi: 10.1016/S1473-3099(20)30120-1"

chi tiết tham khảo: https://github.com/CSSEGISandData/COVID-19/blob/master/README.md

> cách dữ liệu được thu thập:

nguồn dữ liệu được thu thập từ 3 nguồn chính: 

    data tổng hợp từ các tổ chức lớn trên thế giới (WHO, ECDC, DXY,..)
    
    data từ các bang của US
    
    data từ các nước/ vùng khác ngoài US

# 2. khám phá dữ liệu

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from matplotlib import pyplot
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error

ở đây bộ dữ liệu gồm 8 file, ta tiến hành xem qua từng để có 1 cái nhìn tổng quan cấu trúc file dữ liệu. ta dễ dàng thấy bộ dữ liệu gồm 2 loại file: 

tập các file time series: thể hiện các loại ca mắc bệnh theo ngày

tập các file COVID-19: chi tiết nhật ký ghi lại các ca mắc COVID-19

### Đọc dữ liệu vào dataframe

In [3]:
#nạp các file vào biến
covid_19_data = pd.read_csv('covid_19_data.csv')
COVID19_line_list_data = pd.read_csv('COVID19_line_list_data.csv')
COVID19_open_line_list = pd.read_csv('COVID19_open_line_list.csv')

time_series_covid_19_confirmed = pd.read_csv('time_series_covid_19_confirmed.csv')
time_series_covid_19_confirmed_US = pd.read_csv('time_series_covid_19_confirmed_US.csv')
time_series_covid_19_deaths = pd.read_csv('time_series_covid_19_deaths.csv')
time_series_covid_19_deaths_US = pd.read_csv('time_series_covid_19_deaths_US.csv')
time_series_covid_19_recovered = pd.read_csv('time_series_covid_19_recovered.csv')

Vì đây là bộ dữ liệu được tổng hợp từ nhiều nguồn nên khả năng dữ liệu bị lỗi hay missing value thì không thể tránh được. với khả năng hiện tại thì ta chỉ xử lý lỗi missing value

In [4]:
# file covid_19_data.csv:
f = covid_19_data
miss_f = [(c, f[c].isna().mean()*100) for c in f]
miss_f = pd.DataFrame(miss_f, columns=["column_name", "percentage"])
miss_f

       column_name  percentage
0              SNo     0.00000
1  ObservationDate     0.00000
2   Province/State    34.14228
3   Country/Region     0.00000
4      Last Update     0.00000
5        Confirmed     0.00000
6           Deaths     0.00000
7        Recovered     0.00000

In [5]:
f = COVID19_line_list_data
miss_f = [(c, f[c].isna().mean()*100) for c in f]
miss_f = pd.DataFrame(miss_f, columns=["column_name", "percentage"])
miss_f

              column_name  percentage
0                      id    0.000000
1         case_in_country   18.156682
2          reporting date    0.092166
3              Unnamed: 3  100.000000
4                 summary    0.460829
5                location    0.000000
6                 country    0.000000
7                  gender   16.866359
8                     age   22.304147
9           symptom_onset   48.110599
10  If_onset_approximated   48.387097
11        hosp_visit_date   53.271889
12         exposure_start   88.202765
13           exposure_end   68.571429
14         visiting Wuhan    0.000000
15             from Wuhan    0.368664
16                  death    0.000000
17              recovered    0.000000
18                symptom   75.115207
19                 source    0.000000
20                   link    0.000000
21            Unnamed: 21  100.000000
22            Unnamed: 22  100.000000
23            Unnamed: 23  100.000000
24            Unnamed: 24  100.000000
25            Unnamed: 25  100.000000
26            Unnamed: 26  100.000000

In [6]:
f = COVID19_open_line_list
miss_f = [(c, f[c].isna().mean()*100) for c in f]
miss_f = pd.DataFrame(miss_f, columns=["column_name", "percentage"])
miss_f

                 column_name  percentage
0                         ID    6.746425
1                        age   90.450234
2                        sex   91.051961
3                       city   27.835198
4                   province    8.636557
5                    country    6.923404
6      wuhan(0)_not_wuhan(1)    6.767662
7                   latitude    6.930483
8                  longitude    6.930483
9             geo_resolution    6.930483
10       date_onset_symptoms   94.718958
11   date_admission_hospital   94.832224
12         date_confirmation    7.341073
13                  symptoms   96.509982
14            lives_in_Wuhan   96.000283
15      travel_history_dates   96.439190
16   travel_history_location   94.634008
17  reported_market_exposure   99.752230
18    additional_information   82.925103
19    chronic_disease_binary   99.872575
20           chronic_disease   99.907971
21                    source    8.325074
22        sequence_available   99.992921
23                   outcome   98.697437
24   date_death_or_discharge   99.341640
25      notes_for_discussion   98.676200
26                  location   92.750956
27                    admin3   91.795271
28                    admin2   35.806315
29                    admin1    8.841852
30               country_new    7.411865
31                  admin_id    7.241965
32   data_moderator_initials   99.879655
33               Unnamed: 33  100.000000
34               Unnamed: 34  100.000000
35               Unnamed: 35  100.000000
36               Unnamed: 36  100.000000
37               Unnamed: 37  100.000000
38               Unnamed: 38  100.000000
39               Unnamed: 39  100.000000
40               Unnamed: 40  100.000000
41               Unnamed: 41  100.000000
42               Unnamed: 42  100.000000
43               Unnamed: 43  100.000000
44               Unnamed: 44  100.000000

In [7]:
f = time_series_covid_19_confirmed
miss_f = [(c, f[c].isna().mean()*100) for c in f]
miss_f = pd.DataFrame(miss_f, columns=["column_name", "percentage"])
miss_f

        column_name  percentage
0    Province/State   69.548872
1    Country/Region    0.000000
2               Lat    0.000000
3              Long    0.000000
4           1/22/20    0.000000
..              ...         ...
192         7/28/20    0.000000
193         7/29/20    0.000000
194         7/30/20    0.000000
195         7/31/20    0.000000
196          8/1/20    0.000000

[197 rows x 2 columns]

In [8]:
f = time_series_covid_19_confirmed_US
miss_f = [(c, f[c].isna().mean()*100) for c in f]
miss_f = pd.DataFrame(miss_f, columns=["column_name", "percentage"])
miss_f

    column_name  percentage
0           UID    0.000000
1          iso2    0.000000
2          iso3    0.000000
3         code3    0.000000
4          FIPS    0.299401
..          ...         ...
199     7/28/20    0.000000
200     7/29/20    0.000000
201     7/30/20    0.000000
202     7/31/20    0.000000
203      8/1/20    0.000000

[204 rows x 2 columns]

In [9]:
f = time_series_covid_19_deaths
miss_f = [(c, f[c].isna().mean()*100) for c in f]
miss_f = pd.DataFrame(miss_f, columns=["column_name", "percentage"])
miss_f

        column_name  percentage
0    Province/State   69.548872
1    Country/Region    0.000000
2               Lat    0.000000
3              Long    0.000000
4           1/22/20    0.000000
..              ...         ...
192         7/28/20    0.000000
193         7/29/20    0.000000
194         7/30/20    0.000000
195         7/31/20    0.000000
196          8/1/20    0.000000

[197 rows x 2 columns]

In [10]:
f = time_series_covid_19_deaths_US
miss_f = [(c, f[c].isna().mean()*100) for c in f]
miss_f = pd.DataFrame(miss_f, columns=["column_name", "percentage"])
miss_f

    column_name  percentage
0           UID    0.000000
1          iso2    0.000000
2          iso3    0.000000
3         code3    0.000000
4          FIPS    0.299401
..          ...         ...
200     7/28/20    0.000000
201     7/29/20    0.000000
202     7/30/20    0.000000
203     7/31/20    0.000000
204      8/1/20    0.000000

[205 rows x 2 columns]

In [11]:
f = time_series_covid_19_recovered
miss_f = [(c, f[c].isna().mean()*100) for c in f]
miss_f = pd.DataFrame(miss_f, columns=["column_name", "percentage"])
miss_f

        column_name  percentage
0    Province/State   73.517787
1    Country/Region    0.000000
2               Lat    0.000000
3              Long    0.000000
4           1/22/20    0.000000
..              ...         ...
192         7/28/20    0.000000
193         7/29/20    0.000000
194         7/30/20    0.000000
195         7/31/20    0.000000
196          8/1/20    0.000000

[197 rows x 2 columns]

như ta đã dự đoán từ trước, bộ dữ liệu trên có rất nhiều giá trị missing value, để tránh việc khó khăn trong phân tích dữ liệu, ta sẽ lấy file có độ lỗi nhỏ nhất để phân tích, ở đây ta sử dụng file covid_19_data.csv

tiếp theo ta điền các giá trị missing value cho file covid_19_data.csv:

In [14]:
covid_19_data["Province/State"]= covid_19_data["Province/State"].fillna('Unknown')

### thể hiện tổng quan về file

In [19]:
covid_19_data = pd.read_csv('covid_19_data.csv')
covid_19_data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

### các thuộc tính của data

In [22]:
rows, columns =covid_19_data.shape
print("num rows: {}, num column: {} (data in 27/08/2020)".format(rows,columns))
covid_19_data.info()

num rows: 77467, num column: 8 (data in 27/08/2020)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77467 entries, 0 to 77466
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              77467 non-null  int64
 1   ObservationDate  77467 non-null  object
 2   Province/State   51018 non-null  object
 3   Country/Region   77467 non-null  object
 4   Last Update      77467 non-null  object
 5   Confirmed        77467 non-null  float64
 6   Deaths           77467 non-null  float64
 7   Recovered        77467 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 4.7+ MB

chi tiết các thuộc tính:

&emsp;&emsp;+ **SNo**: Số se-ri <br>
&emsp;&emsp;+ **ObservationDate**: ngày phát hiện theo định dạng MM/DD/YYYY <br>
&emsp;&emsp;+ **Province/State**: tỉnh/bang phát hiện ca mắc <br>
&emsp;&emsp;+ **Country/Region**: quốc gia phát hiện ca mắc <br>
&emsp;&emsp;+ **Last Update**: thời gian ghi nhận ca mắc theo múi giờ UTC sở tại <br>
&emsp;&emsp;+ **Confirmed**: lũy kế số ca mắc được xác nhận <br>
&emsp;&emsp;+ **Deaths**: lũy kế số ca mắc không qua khỏi <br>
&emsp;&emsp;+ **Recovered**: lũy kế số ca mắc đã hồi phục <br>

mỗi dòng trong file có ý nghĩa:

# 3. Đưa ra các câu hỏi cần trả lời

1. Tình hình dịch tại Trung Quốc đang diễn biến như thế nào?
2. số ca nhiễm đang chữa trị tại thời điểm hiện tại
3. tiếp tục tình hình dịch như thế này dự đoán số người chết tại Việt Nam tăng lên bao nhiêu trong 1 tháng tới

---------------